@using OnlinePapermarking.Models;
@model dynamic

@if (Session["LoginId"] == null)
{
    Layout = null;
    @Html.Action("CheckCookies", "Home");

}

@if (Session["UserRoleId"] != null)
{
    if (Session["UserRoleId"].ToString() != "1")
    {
        Layout = null;
        @Html.Action("ReturnToHome", "Home");
    }
}

@{
    ViewBag.Title = "Subjects";
    Layout = "~/Views/Shared/_adminPanelSideNav.cshtml";
}

<style>
    .sidebar[data-color="blue"] .nav li.nav-Subjects > a:not([data-toggle="collapse"]),
    .off-canvas-sidebar[data-color="blue"] .nav li.nav-Subjects > a:not([data-toggle="collapse"]),
    .nav li.nav-Subjects i {
        color: #0a4b7a;
    }

    .sidebar .nav li.nav-Subjects > a,
    .off-canvas-sidebar .nav li.nav-Subjects > a {
        background-color: #FFFFFF;
        box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
    }
</style>

<input type="hidden" value="@Session["LoginId"]" id="loginId" />
<input type="hidden" id="SubjectId" />

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <form id="RegisterValidation" action="" novalidate="novalidate">
        <div class="card ">
            <div class="card-header ">
                <h5 class="title">Add New Subject</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-label">
                            <label>
                                Exam Type
                            </label>
                            <select class="form-control" id="cmbExamType">
                                @foreach (ExamType exmtype in Model.ExamTypes)
                                {
                                    <option value="@exmtype.ExamTypeID">@exmtype.Description</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-label">
                            <label>
                                Subject Code
                            </label>
                            <input class="form-control" name="" id="txtSubjectCode" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-label">
                            <label>
                                Subject Name
                            </label>
                            <input class="form-control" name="" id="txtSubjectName" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-label">
                            <label>
                                Price For a Paper
                            </label>
                            <input class="form-control" name="" id="txtPrice" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-label">
                            <label>
                                Price For a Tutor
                            </label>
                            <input class="form-control" name="" id="txtPriceForTutor" type="text" />
                        </div>
                    </div>
                    @*<div class="col-md-1">
                            <div class="form-group has-label">
                                <label>
                                    Active
                                </label>
                                <input class="form-check-input form-control" type="checkbox" id="cbIsActive" name="optionCheckboxes" checked required="">
                                <input class="form-control" name="" id="imgUpload" type="file" />
                            </div>
                            <div class="form-check pull-left p0">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" id="cbIsActive" name="optionCheckboxes" checked required="">
                                    <span class="form-check-sign"></span>
                                    Active
                                </label>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="card-footer text-right">
                <div class="form-check pull-left p0">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="cbIsActive" name="optionCheckboxes" checked required="">
                        <span class="form-check-sign"></span>
                        Active
                    </label>
                </div>
                <button type="button" class="btn btn-outline-primary mr-10">Cancel</button>
                <button type="button" class="btn btn-info" id="saveBtn">Save</button>
            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-header">
            <h5 class="title">Subjects</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="subjectTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ExamType</th>
                            <th>SubjectCode</th>
                            <th>SubjectName</th>
                            <th>Price For Paper</th>
                            <th>Price For Tutor</th>
                            <th>Active</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <!--Datatable Plugin-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


    <script src="~/SiteJs/admin-subject-master-page.js"></script>


    <script src="https://use.fontawesome.com/900c620bd0.js"></script>


}
